name: Windows CI
on:
  pull_request:
  push:
    branches:
      - main
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
env:
  OPAMROOT: D:\opamroot
  OPAMSOLVERTIMEOUT: 120
  MSYS: winsymlinks:native
jobs:
  build_and_test:
    name: "Build and test package"
    runs-on: windows-latest
    strategy:
      fail-fast: false
      matrix:
        build_env: [msys2, cygwin]
        package: [posix-base, posix-errno, posix-math2, posix-socket]
        ocaml: [5.4.0]
    steps:
      - name: Checkout tree
        uses: actions/checkout@v6
        with:
          fetch-depth: 2

      - name: Download install.ps1
        run: |
          [Net.ServicePointManager]::SecurityProtocol = [Net.SecurityProtocolType]::Tls12
          (New-Object System.Net.WebClient).DownloadFile("https://raw.githubusercontent.com/ocaml/opam/master/shell/install.ps1", ".\install.ps1")

      - name: Restore opam cache
        id: cache-opam
        uses: actions/cache/restore@v5
        with:
          path: |
            D:\opam\bin
            D:\opamroot
          key: ${{ runner.os }}-${{ matrix.build_env }}-opam-${{ hashFiles('install.ps1') }}

      - name: Add MSYS2 to PATH and install prerequisites
        if: matrix.build_env == 'msys2'
        run: |
          "C:\msys64" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append
          C:\msys64\usr\bin\pacman.exe --noconfirm -Syuu  # Core update (in case any core packages are outdated)
          C:\msys64\usr\bin\pacman.exe --noconfirm -Syuu m4 make mingw-w64-i686-gcc mingw-w64-x86_64-gcc rsync unzip

      - name: Install opam
        if: steps.cache-opam.outputs.cache-hit != 'true'
        run: |
          Invoke-Expression "& ./install.ps1 -OpamBinDir 'D:\opam\bin'"

      - name: Add opam to PATH
        run: |
          D:\opam\bin\opam --version
          "D:\opam\bin" | Out-File -FilePath $env:GITHUB_PATH -Encoding utf8 -Append

      - name: Init opam
        if: steps.cache-opam.outputs.cache-hit != 'true'
        run: opam init --yes --no-setup ${{ matrix.build_env == 'msys2' && '--cygwin-local-install' || '' }} ${{ matrix.ocaml }} git+https://github.com/ocaml/opam-repository

      - name: Restrict testing to available compilers
        if: steps.cache-opam.outputs.cache-hit != 'true'
        # TODO Amend this lowerbound as older compiler packages are updated
        run: opam switch set-invariant --formula "`"ocaml`" {>= `"4.13`"}"

      - name: Save opam cache
        if: steps.cache-opam.outputs.cache-hit != 'true'
        uses: actions/cache/save@v5
        with:
          path: |
            D:\opam\bin
            D:\opamroot
          key: ${{ steps.cache-opam.outputs.cache-primary-key }}

      - name: Print version and configuration information
        run: |
          opam --version
          opam exec -- ocaml -version
          opam exec -- ocamlopt -config
          opam var

      - name: Install package
        run: |
          opam pin -ny .
          opam install -y ${{ matrix.package }}

      - name: Run tests
        run: |
          opam exe dune build @citest ${{ matrix.package }}
